/* HEADER */
header {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
header nav {
  padding: 0.375em 1.5em;
  align-self: flex-start;
}
header nav h1 {
  float: left;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  text-align: left;
}
header nav a {
  font-weight: 700;
  text-decoration: none;
  margin-left: 1.5em;
}
