/* Color customization */
:root {
  --primary: #f9c412;
  --primary-dark: #22282c;

  /* Core variables */
  --bg-color: var(--bg-dark);

  --body-text-color: var(--fg-dark);
  --text-link: var(var(--primary));
  --heading-color: var(--bg-dark);

  --reading-progress-completed-color: #f9c412;
  --reading-progress-remaining-color: #fff;

  --share-button-bg: var(--primary);
  --share-button-color: var(--bg-dark);
}

/*! purgecss start ignore */
:root {
  --main-width: calc(100vw - 3em);
}

@media (min-width: 37.5em) {
  :root {
    --main-width: calc(37.5em - 3em);
  }
}
/*! purgecss end ignore */

/* 1. Everforest theme  */
/* 2. Colours */
:root {
  /* 2.1 Dark theme color variables */
  --bg0-dark: #22282c;
  --bg1-dark: #272f34;
  --bg-dark: #2f383e;
  --bg2-dark: #374247;
  --bg3-dark: #404c51;
  --bg4-dark: #4a555b;
  --bg5-dark: #525c62;
  --bg_visual: #503946;
  --bg_red: #4e3e43;
  --bg_green: #404d44;
  --bg_blue: #394f5a;
  --bg_yellow: #4a4940;
  --shadow: #00000070;

  --fg-dark: #d3c6aa;
  --grey0-dark: #7f897d;
  --grey1-dark: #859289;
  --grey2-dark: #9aa79d;

  --faded-red: #e67e80;
  --faded-orange: #e69875;
  --faded-yellow: #dbbc7f;
  --faded-green: #a7c080;
  --faded-aqua: #83c092;
  --faded-blue: #7fbbb3;
  --faded-purple: #d699b6;

  --dim-red: #da6362;
  --dim-orange: #d77f48;
  --dim-yellow: #bf983d;
  --dim-green: #899c40;
  --dim-aqua: #569d79;
  --dim-blue: #5a93a2;
  --dim-purple: #b87b9d;

  /* 2.2 Light theme color variables */
  --bg0-light: #f0edd8;
  --bg1-light: #f6f1dd;
  --bg-light: #fdf6e3;
  --bg2-light: #f3efda;
  --bg3-light: #edead5;
  --bg4-light: #e4e1cd;
  --bg5-light: #dfdbc8;
  --grey0-light: #a4ad9e;
  --grey1-light: #939f91;
  --grey2-light: #879686;
  --shadow-light: #3c474d20;

  --bg_visual_light: #eaedc8;
  --bg_red_light: #fbe3da;
  --bg_green_light: #f0f1d2;
  --bg_blue_light: #e9f0e9;
  --bg_yellow_light: #faedcd;

  --fg-light: #5c6a72;

  --light-red: #f85552;
  --light-orange: #f57d26;
  --light-yellow: #bf983d;
  --light-green: #899c40;
  --light-aqua: #569d79;
  --light-blue: #5a93a2;
  --light-purple: #b87b9d;

  --light-dim-red: #f1706f;
  --light-dim-orange: #f39459;
  --light-dim-yellow: #e4b649;
  --light-dim-green: #a4bb4a;
  --light-dim-aqua: #6ec398;
  --light-dim-blue: #6cb3c6;
  --light-dim-purple: #e092be;

  /*}*/

  /* 2.3 Dark theme implementation */
  /*.theme-dark*/
  /*{*/
  --background-primary: var(--bg-dark);
  --background-primary-alt: var(--bg-dark);
  --background-secondary: var(--bg-dark);
  --background-secondary-alt: var(--bg-dark);
  --text-normal: var(--fg-dark);
  --text-faint: var(--grey1-dark);
  --text-title-h1: var(--dim-red);
  --text-title-h2: var(--dim-orange);
  --text-title-h3: var(--dim-yellow);
  --text-title-h4: var(--dim-green);
  --text-title-h5: var(--dim-aqua);
  --text-title-h6: var(--dim-purple);
  --text-link: var(--faded-blue);
  --text-a: var(--dim-aqua);
  --text-a-hover: var(--faded-aqua);
  --text-mark: rgba(215, 153, 33, 0.4); /* light-yellow */
  --pre-code: var(--bg1-dark);
  --text-highlight-bg: var(--bg_green);
  --interactive-accent: var(--dim-aqua);
  --interactive-before: var(--bg5-dark);
  --background-modifier-border: var(--bg5-dark);
  --text-accent: var(--dim-blue);
  --interactive-accent-rgb: var(--dim-blue);
  --inline-code: var(--dim-blue);
  --code-block: var(--fg-dark);
  --vim-cursor: var(--faded-blue);
  --text-selection: var(--bg5-dark);
}

/* 2.4 Light theme implementation */
.theme-light {
  --background-primary: var(--bg-light);
  --background-primary-alt: var(--bg-light);
  --background-secondary: var(--bg-light);
  --background-secondary-alt: var(--bg-light);
  --text-normal: var(--fg-light);
  --text-faint: var(--grey1-light);
  --text-title-h1: var(--light-red);
  --text-title-h2: var(--light-orange);
  --text-title-h3: var(--light-yellow);
  --text-title-h4: var(--light-green);
  --text-title-h5: var(--light-aqua);
  --text-title-h6: var(--light-purple);
  --text-link: var(--light-blue);
  --text-a: var(--light-dim-blue);
  --text-a-hover: var(--light-blue);
  --text-mark: rgba(215, 153, 33, 0.4); /* light-yellow */
  --pre-code: var(--bg1-light);
  --text-highlight-bg: var(--light-dim-green);
  --interactive-accent: var(--bg5-light);
  --interactive-before: var(--bg5-light);
  --background-modifier-border: var(--bg5-light);
  --text-accent: var(--light-dim-green);
  --interactive-accent-rgb: var(--light-dim-green);
  --inline-code: var(--light-blue);
  --code-block: var(--fg-light);
  --vim-cursor: var(--light-blue);
  --text-selection: rgba(189, 174, 147, 0.5); /* light3 */
}

/*
  Make image rasterization lazy. This means that e.g. the cost of the
  blurry placeholder is never paid if images load before entering
  the viewport.
  Context
  - https://web.dev/content-visibility/#skipping-rendering-work-with-content-visibility
 */
main img {
  content-visibility: auto;
}

/* Avoid the header hiding the content on anchor scroll. */
article * {
  scroll-margin-top: 50px;
}

/* "Content-visibility: auto" move the images over the other elements
   Set z-index to keep the nav over the rasterized images */
header nav {
  z-index: 1;
}

share-widget {
  position: fixed;
  right: 20px;
  bottom: 20px;
  opacity: 0.9;
}

share-widget div {
  width: 30px;
  height: 30px;
  background-image: url("/img/share.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.apple share-widget div {
  background-image: url("/img/share-apple.svg");
}

share-widget button {
  margin: 0;
}

share-widget button:active {
  transform: scale(1.2);
}

img[align="left"] {
  width: auto;
  height: 16rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

dl {
  clear: both;
  display: block !important;
}

header aside {
  font-style: italic;
}

#nav {
  z-index: 2;
  position: relative;
}

#reading-progress {
  z-index: 1;
  background-color: var(--reading-progress-remaining-color);
  width: 100vw;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  transform: translate(-100vw, 0);
  will-change: transform;
  pointer-events: none;
}

#posts li {
  margin-bottom: 0.5em;
}

/* --------------------------------------------------------------------------
Single variable font.

Note that you may want to do something like this to make sure you're serving
constant fonts to older browsers:
html {
  font-family: 'Inter UI', sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter UI var', sans-serif;
  }
}
*/
@font-face {
  font-family: "Inter UI";
  font-weight: 100 900;
  font-style: oblique 0deg 10deg;
  src: url("/fonts/Inter-3.19.var.woff2") format("woff2");
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  font-family: Inter UI, sans-serif;
  --font-family: Inter UI, sans-serif;
}
body {
  margin: 0;
  font-family: var(--font-family);
  background: var(--bg-color);
  color: var(--text-normal);
}

h1 {
  font-size: 1.5rem;
}
h1,
h2 {
  line-height: 2.4rem;
  margin-bottom: 1.36rem;
}
h2 {
  font-size: 1.728rem;
}
h3 {
  font-size: 1.4rem;
}
h3,
h4 {
  line-height: 1.6rem;
  margin-bottom: 1.36rem;
}
h4 {
  font-size: 1.2rem;
}
h5,
h6 {
  font-size: 1rem;
  line-height: 1.6rem;
  margin-bottom: 1.36rem;
}
h1 {
  color: var(--text-title-h1);
}
h2 {
  color: var(--text-title-h2);
}
h3 {
  color: var(--text-title-h3);
}
h4 {
  color: var(--text-title-h4);
}
h5 {
  color: var(--text-title-h5);
}
h6 {
  color: var(--text-title-h6);
}

a {
  color: var(--text-link);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

#menu-toggle {
  display: none;
}
header label {
  display: block;
}
#menu-toggle:checked ~ a {
  display: block;
  padding: 0.75em 0;
  margin: 0 1.5em;
  text-align: center;
  border-bottom: 1px solid #ccc;
}
#menu-toggle:checked ~ a:last-of-type {
  padding-bottom: 0;
  border: 0;
}
#menu-toggle:checked ~ label {
  border-bottom: 1px solid #aaa;
  padding-bottom: 0.75em;
}
#menu-toggle:not(:checked) ~ a {
  display: none;
}
header {
  padding: 4.5em 1.5em 3em;
  width: 37.5em;
  margin: 0 auto;
  text-align: center;
  max-width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
header p {
  margin-top: 0;
}
header nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 0.375em 1.5em;
  background: hsla(0, 0%, 100%, 0.9);
  font-weight: 200;
  text-align: right;
}
header nav h1 {
  float: left;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  text-align: left;
}
header nav a {
  font-weight: 700;
  text-decoration: none;
  font-family: var(--font-family);
  color: var(--bg-color);
  margin-left: 1.5em;
}
header nav a:first-of-type {
  margin-left: auto;
}
header nav a:last-of-type {
  margin-right: 1.5em;
}
header nav label {
  color: #000;
  cursor: pointer;
  margin: 0;
  font-style: normal;
  text-align: right;
}
main {
  max-width: 70rem;
  margin: 0 auto;
  border-top: 0.5px solid #ccc;
}
footer {
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 3em;
  text-align: center;
}
footer > * {
  margin: 1.5em;
}
footer nav a img {
  vertical-align: middle;
}
footer nav,
footer p {
  font-size: 90%;
}
article {
  max-width: 100%;
  padding: 1.5em;
  width: 37.5em;
  margin: 0 auto;
}
ol,
ul {
  margin-top: 0;
}
li dl,
li ol,
li ul {
  margin-bottom: 0;
}
blockquote {
  border-left: 1px solid #f9c412;
  padding: 0 1.5em;
  margin: 1.5em 0 1.5em 1.5em;
}
blockquote footer {
  background: none;
  display: block;
  color: #ccc;
  padding: 0.75em 0;
  font-size: 90%;
  text-align: start;
}

code[class*="language-"],
pre[class*="language-"] {
  color: #ccc;
  background: none;
  font-family: Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
code[class*="language-"] {
  padding: 0;
}
pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #2d2d2d;
}
:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}
.token.block-comment,
.token.cdata,
.token.comment,
.token.doctype,
.token.prolog {
  color: #999;
}
.token.punctuation {
  color: #ccc;
}
.token.attr-name,
.token.deleted,
.token.namespace,
.token.tag {
  color: #e2777a;
}
.token.function-name {
  color: #6196cc;
}
.token.boolean,
.token.function,
.token.number {
  color: #f08d49;
}
.token.class-name,
.token.constant,
.token.property,
.token.symbol {
  color: #f8c555;
}
.token.atrule,
.token.builtin,
.token.important,
.token.keyword,
.token.selector {
  color: #cc99cd;
}
.token.attr-value,
.token.char,
.token.regex,
.token.string,
.token.variable {
  color: #7ec699;
}
.token.entity,
.token.operator,
.token.url {
  color: #67cdcc;
}
.token.bold,
.token.important {
  font-weight: 700;
}
.token.italic {
  font-style: italic;
}
.token.entity {
  cursor: help;
}
.token.inserted {
  color: green;
}

blockquote {
  border-left: 1px solid var(--primary);
}

mark {
  background: var(--primary);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
}
