article {
  max-width: 70ch;
  margin: auto;
}

aside {
  font-style: italic;
}

@media (prefers-color-scheme: dark) {
  img {
    filter: brightness(80%);
    box-shadow: inset 0px 0px 85px rgba(0, 0, 0, 0.4);
  }
}
