.game {
    position: relative;
}

.stage__row {
    display: flex;
    /*white-space: nowrap;*/
}

.stage__cell {
    display: inline-block;
    flex-grow: 1;
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, .2);
}

.stage__cell_type_wall {
    background-color: #63412C;
}

.stage__cell_type_hall {
    background-color: #A39FA5;
}

.stage__cell_type_door {
    background: #A39FA5 url('img/door.png') no-repeat center center;
    background-size: cover;
}

.stage__cell_type_rock {
    background: #A39FA5 url('img/rock.png') no-repeat center center;
    background-size: contain;
}

.hero {
    position: absolute;
    top: 0;
    left: 0;

    background: url('img/hero-stay.png') no-repeat center center;
    background-size: contain;
    display: inline-block;
    flex-grow: 1;

    transition: transform .3s;

    will-change: transform;
}

.door-btn {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 80vw;
    height: 80vh;
    background: #A39FA5 url('img/door-btn.jpg') no-repeat center center;
    background-size: cover;

    box-shadow: 5px 5px 5px rgba(0, 0, 0, .6);
}

.door-btn__btn {
    position: absolute;
    top: 50vh;
    width: 32px;
    height: 32px;
    border-radius: 32px;
    background-color: #583319;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .6);
}

.door-btn__btn:focus,
.door-btn__btn:hover {
    background-color: #F3E5D9;
}

.door-btn__btn_n_1 {
    left: 10%;
}

.door-btn__btn_n_2 {
    left: 46%;
}
.door-btn__btn_n_3 {
    left: 80%;
}
