---
title: Tech blog of Dmitrii Dushkin
layout: layouts/home.njk
description: homepage
date: Last Modified
---

<div id="posts">
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>